<div class="ITSs">
    {% for group, attributes in data.items() %}
        {# Ignoriere interne Felder die mit _ anfangen #}
        {% if not group.startswith('_') and attributes is mapping %}
            
            {# Gruppen-Überschrift (z.B. Allgemein) #}
            <div class="ITSg">{{ group }}</div>
            
            {# Schleife durch die Attribute mit Toggle für r1/r0 #}
            {% set ns = namespace(counter=1) %}
            {% for key, value in attributes.items() %}
                {# Prüfe auf leere Werte oder N/A #}
                {% if value and value|string|lower != 'n/a' and value|string|lower != 'unknown' %}
                    <div class="ITSr{{ ns.counter % 2 }}">
                        <div class="ITSn">{{ key }}</div>
                        <div class="ITSv">{{ value }}</div>
                    </div>
                    {% set ns.counter = ns.counter + 1 %}
                {% endif %}
            {% endfor %}
            
        {% endif %}
    {% endfor %}
</div>